<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connice.sys.mapper.CnUserMapper">

    <resultMap id="baseUser" type="com.connice.sys.entity.User">
        <id property="id" column="id"></id>
        <result column="user_name" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="iphone" property="iphone"></result>
        <result column="address" property="address"></result>
        <result column="new_address" property="newAddress"></result>
        <result column="head_portrait" property="headPortrait"></result>
        <result column="cart_id" property="cartId"></result>
        <result column="cart_img" property="cartImg"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="user_state" property="userState"></result>
        <result column="user_code" property="userCode"></result>
        <result column="position_code" property="positionCode"></result>
    </resultMap>

    <insert id="insertUser">
        insert into cn_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.id != null ">
                id,
            </if>
            <if test="user.userName != null">
                user_name,
            </if>
            <if test="user.password != null ">
                password,
            </if>
            <if test="user.iphone != null ">
                iphone,
            </if>
            <if test="user.address != null ">
                address,
            </if>
            <if test="user.newAddress != null ">
                new_address,
            </if>
            <if test="user.headPortrait != null ">
                head_portrait,
            </if>
            <if test="user.cartId != null">
                cart_id,
            </if>
            <if test="user.cartImg != null ">
                cart_img,
            </if>
            <if test="user.createTime != null ">
                create_time,
            </if>
            <if test="user.updateTime != null ">
                update_time,
            </if>
            <if test="user.userState != null ">
                user_state,
            </if>
            <if test="user.userCode != null ">
                user_code,
            </if>
            <if test="user.positionCode != null ">
                position_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="user.id != null ">
                #{user.id},
            </if>
            <if test="user.userName != null ">
                #{user.userName},
            </if>
            <if test="user.password != null ">
                #{user.password},
            </if>
            <if test="user.iphone != null ">
                #{user.iphone},
            </if>
            <if test="user.address != null ">
                #{user.address},
            </if>
            <if test="user.newAddress != null ">
                #{user.newAddress},
            </if>
            <if test="user.headPortrait != null ">
                #{user.headPortrait},
            </if>
            <if test="user.cartId != null ">
                #{user.cartId},
            </if>
            <if test="user.cartImg != null">
                #{user.cartImg},
            </if>
            <if test="user.createTime != null ">
                #{user.createTime},
            </if>
            <if test="user.updateTime != null">
                #{user.updateTime},
            </if>
            <if test="user.userState != null ">
                #{user.userState},
            </if>
            <if test="user.userCode != null ">
                #{user.userCode},
            </if>
            <if test="user.positionCode != null ">
                #{user.positionCode},
            </if>
        </trim>

    </insert>

    <insert id="addUserRole">
        insert into cn_user_role(id,user_id,role_id) values (#{userRole.id},#{userRole.userId},#{userRole.roleId})
    </insert>

    <update id="updateUser">
        update cn_user
        <trim prefix="set" prefixOverrides=",">
            <if test="user.userName != null ">
                user_name = #{user.userName},
            </if>
            <if test="user.password != null ">
                password = #{user.password},
            </if>
            <if test="user.iphone != null ">
                iphone =  #{user.iphone},
            </if>
            <if test="user.address != null ">
                address = #{user.address},
            </if>
            <if test="user.newAddress != null ">
                new_address = #{user.newAddress},
            </if>
            <if test="user.headPortrait != null ">
                head_portrait = #{user.headPortrait},
            </if>
            <if test="user.cartId != null ">
                cart_id =  #{user.cartId},
            </if>
            <if test="user.cartImg != null">
                cart_img = #{user.cartImg},
            </if>
            <if test="user.updateTime != null">
                update_time = #{user.updateTime},
            </if>
            <if test="user.userState != null ">
                user_state = #{user.userState},
            </if>
            <if test="user.userCode != null ">
                user_code =  #{user.userCode},
            </if>
            <if test="user.positionCode != null ">
                position_code =  #{user.positionCode},
            </if>
        </trim>
        where id = #{user.id}
    </update>
    <update id="putUserRole">
        update cn_user_role set  role_id = #{userRole.roleId} where id = #{userRole.id}
    </update>

    <delete id="delUserById">
        delete from cn_user where id = #{id}
    </delete>
    <delete id="delListUser">
        delete from cn_user where  id in
        <foreach collection="list" item="id" index="no" open="("
                 separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="delUserRole">
        delete from cn_user_role where id = #{id}
    </delete>

    <select id="findAllUser" resultMap="baseUser">
        select id,user_name,password,iphone,address,new_address,head_portrait,cart_id,cart_img,create_time,
        update_time,user_state,user_code,position_code
        from cn_user
        <where>
            <if test="user.userName!=null">
               and user_name like  CONCAT('%',#{user.userName},'%')
            </if>
            <if test="user.iphone!=null">
               and iphone =  like  CONCAT('%',#{user.iphone},'%')
            </if>
            <if test="user.address!=null">
                and address = like  CONCAT('%',#{user.address},'%')
            </if>
            <if test="user.newAddress!=null">
                and new_address = like  CONCAT('%',#{user.newAddress},'%')
            </if>
            <if test="user.headPortrait!=null">
                and head_portrait =  like  CONCAT('%',#{user.headPortrait},'%')
            </if>
            <if test="user.cartId!=null">
                and cart_id =  like  CONCAT('%',#{user.cartId},'%')
            </if>
            <if test="user.cartImg!=null">
                and cart_img = #{user.cartImg}
            </if>
            <if test="user.createTime!=null">
                and create_time = #{user.createTime}
            </if>
            <if test="user.updateTime!=null">
                and update_time = #{user.updateTime}
            </if>
            <if test="user.userState!=null">
                and user_state = #{user.userState}
            </if>
            <if test="user.userCode!=null">
                and user_code = #{user.userCode}
            </if>
            <if test="user.positionCode!=null">
                and position_code = #{user.positionCode}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="findUserById" resultMap="baseUser">
        select u.id,u.user_name,u.password,u.iphone,u.address,u.new_address,u.head_portrait,u.cart_id,u.cart_img,u.create_time,
        u.update_time,u.user_state,u.user_code,u.position_code
        from cn_user u
         where u.id = #{id}
    </select>

    <select id="findUserByName" resultMap="baseUser">
      select id,user_name,password,iphone,address,new_address,head_portrait,cart_id,cart_img,create_time,
        update_time,user_state,user_code,position_code
        from cn_user where user_name = #{userName}
    </select>

    <select id="findUserByIphone" resultMap="baseUser">
       select id,user_name,iphone,address,new_address,head_portrait,cart_id,cart_img,create_time,
        update_time,user_state,user_code,position_code
        from cn_user where iphone = #{iphone}
    </select>
    <resultMap id="baseUser" type="com.connice.sys.entity.User">
        <id property="id" column="id"></id>
        <result column="user_name" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="iphone" property="iphone"></result>
        <result column="address" property="address"></result>
        <result column="new_address" property="newAddress"></result>
        <result column="head_portrait" property="headPortrait"></result>
        <result column="cart_id" property="cartId"></result>
        <result column="cart_img" property="cartImg"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="user_state" property="userState"></result>
        <result column="user_code" property="userCode"></result>
        <result column="position_code" property="positionCode"></result>
        <collection property="roleList" ofType="com.connice.sys.entity.Role">
            <result column="id" property="id"></result>
            <result column="role_name" property="roleName"></result>
            <result column="role_code" property="roleCode"></result>
            <result column="create_time" property="createTime"></result>
            <result column="update_time" property="updateTime"></result>
            <result column="is_del" property="isDel"></result>
            <result column="role_img" property="roleImg"></result>
        </collection>
    </resultMap>

    <select id="findUserRole" resultType="com.connice.sys.entity.User">
        select u.id,u.user_name,u.password,u.iphone,u.address,u.new_address,u.head_portrait,u.cart_id,u.cart_img,u.create_time,
        u.update_time,u.user_state,u.user_code,u.position_code,r.id,r.role_name,r.role_code,r.create_time,
            r.update_time,r.is_del,r.role_img
        from cn_user u
        left  join cn_user_role ur on u.id= ur.user_id
        left  join cn_role  r on r.id = ur.role_id
         where u.id = #{id}
    </select>
</mapper>
